{% load static %}


<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static '//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'event/css/styles.css' %}">
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Alegreya:wght@500;900&display=swap' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,500;1,400&display=swap' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap' %}" rel="stylesheet">

	<title>Website for Events</title>

	<style type="text/css">


		.text {
    		float:left;
    	}

    	img{
    		vertical-align: middle;
    		height:285px;
    		width:400px;
    		float:left;
    		margin-left: 60px;
    		margin-right: 240px;
    		margin-top: 20px;
    		margin-bottom: 20px;
    	}
    	.img2{
    		float:right;
    		margin-right: 60px;
    		margin-top: 20px;
    		margin-bottom: 20px;

    	}
    	.clearfix {
	 	 overflow: auto;
		}

		.adjust{
			margin-left: 100px;
		}

		.heading{
			text-align: center;
			font-size: 48px;
			color: #2E364F;
			text-shadow: 1px 1px 4px black;
			font-family: 'Vollkorn',serif;
		}

		#forinline{
			display: inline-block;
			width: 100%;

		}

		#forh1{
			font-size: 36px;
			color: #462c1D;
			text-shadow: 1px 1px 2px black ;
			font-family: 'Merriweather', serif;
		}

		#forh2{
			color: #4D511F;
			font-size: 24px;
			font-family:Lora;
		}
		#forh3{
			color:#793F5C;
			font-size: 20px;
		}


	</style>
</head>
<body>

	<div>
		<h1 class="heading">EQUINOX</h1>

  		<div class="clearfix" id="forinline">
  			<img src="{% static 'event/images/source_code.jpg' %}" alt="Source Code">

  					<h1 id="forh1">SOURCE CODE</h1>
  					<h2 id="forh2">TALK IS CHEAP! SHOW ME THE CODE</h2>
  					<h3 id="forh3">Coding Competion</h3>
		</div>

		<div class="clearfix">

			<img class="img2" src="{% static 'event/images/inksync.jpg' %}" alt="Inksync" >
  			<h1 class="adjust" id="forh1" >INKSYNC</h1>
  			<h2 class="adjust" id="forh2">WRITE INSIDE OUT.GIVE PEOPLE SOMETHING TO THINK ABOUT</h2><h3 class="adjust" id="forh3">Blog Writing Competition.</h3>
  			<h3 class="adjust" id="forh3">Round 1<br>A post either in English or Marathi topic<br>Round 2</br>Selected students will enter final round which is a surprise round.</h3><h3 class="adjust" id="forh3">Entry Fees:50/-</h3>
  		 </div>



  		<div class="clearfix" id="forinline">
  			<img src="{% static 'event/images/shutterbug.jpg' %}" alt="Shutterbug">

  			<h1 id="forh1" >SHUTTERBUG</h1>
  			<h2 id="forh2">CHANGE THE LENS, CHANGE THE STORY</h2>
  			<h3 id="forh3">Round 1<br>Something of yours<br>Round 2<br>Click the campus<br>Round 3<br>Click according to theme</h3><h3 id="forh3">Entry Fees:50/-</h3>
  		</div>



  		<div class="clearfix">
  		<img class="img2" src="{% static 'event/images/tech_hunt.jpg' %}" alt="Tech Hunt" >

  		<h1 class="adjust" id="forh1">TECH HUNT</h1>
  			<h2 class="adjust" id="forh2" >ARE YOU THE NEXT GEEK SHERLOCK?</h2>
  		</div>




  		<div class="clearfix" id="forinline">
  			<img src="{% static 'event/images/white_collar.jpg' %}" alt="White Collar" >
  			<h1 id="forh1">WHITECOLLAR</h1>
  			<h2 id="forh2">BE SMART! BE INTERVIEW READY!</h2>
  			<h3 id="forh3">Round 1<br>Aptitude test<br>Round 2<br>Group discussion<br>Round 3<br>Personal Interview</h3><h3 id="forh3">Entry Fees:50/-</h3>
  		</div>




  		<div class="clearfix">
  		<img class="img2" src="{% static 'event/images/lekh_yaag.png' %}" alt="Lekh yaag" >
  		<h1 class="adjust" id="forh1">LEKH YAAG</h1>
  			<h2 class="adjust" id="forh2">MIND ARE DRIVEN BY INNOVATION AND WORDS ARE POWERED BY TECHNOLOGY.</h2>
  			<h3 class="adjust" id="forh3">submit your abstract.</h3>
  			<h3 class="adjust" id="forh3">Send in your abstracts at<br>Contact.equinox2020@gmail.</h3>
  		</div>



  		<div class="clearfix" id="forinline">
  			<img src="{% static 'event/images/genesis.jpg' %}" alt="Genesis" >
  			<h1 id="forh1">GENESIS</h1>
  			<h2 id="forh2">EMPOWERED BY INNOVATION</h2>
  			<h3 id="forh3">200/- team of 4</h3>
  		</div>



  		<div class="clearfix">
  		<img class="img2" src="{% static 'event/images/hackathon.jpg' %}" alt="Hackathon">
  		<h1 class="adjust" id="forh1">HACKATHON</h1>
  			<h2 class="adjust" id="forh2">OUTWITH.OUTPLAY.OUTLAST.ARE YOU NEXT GEEK SHERLOCK</h2>
  		</div>



  		<div class="clearfix" id="forinline">
  			<img src="{% static 'event/images/ar_vr.jpg' %}" alt="AR VR">
  			<h1 id="forh1">WORKSHOP ON AR & VR</h1>
  			<h2 id="forh2">SEE UNREAL THINGS HAPPEN!</h2>
  		</div>
	</div>

	<h1 style=" text-align: center">
	<button type="button" onclick="alert('Registering!')" style="font-size: 24px;color:#86213D">Register!</button>
	</h1>

	</div>
	<footer>
	<div class="row">
  <div class="column">
    <h2>Programs</h2>
    <p id="tohover">Technical Events</p>
    <p id="tohover">Cultural Events</p>
    <p id="tohover">Sports</p>
    <p id="tohover">Webinars & Workshops</p>
    <p id="tohover">Be a Sponsorer</p>
  </div>

  <div class="column">
    <h2>Useful Links</h2>
    <p id="tohover">Home</p>
    <p id="tohover">About Us </p>
    <p id="tohover">Departments</p>
    <p id="tohover">Major Events</p>
    <p id="tohover">FAQ's</p>
    <p id="tohover">Help</p>
    <p id="tohover">Site Map</p>
  </div>

  <div class="column">

  	<h2>Phone   <i class="fa fa-phone" style="font-size:28px;color:red"></i><i class="fa fa-envelope" style="font-size:48px;color:red"></i></h2>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-instagram"></a>
    <p id="tohover">Subscribe Us!</p>

<br>
  </div>
</div>
<p>&#169;Copyright@2020 All rights reserved</p>
  	</footer>

</body>
</html>
